{{#link-to "user" comment.user.login}}
  <img class="avatar" height="48" width="48" src="{{comment.user.avatar_url}}&amp;s=96">
{{/link-to}}

<div class="comment">
  <p class="comment-header">
    <span class="user">{{#link-to "user" comment.user.login}}{{comment.user.login}}{{/link-to}}</span>
    commented {{moment-from-now comment.created_at}}
  </p>
  <div class="comment-body">
    {{#emoji-tag}}
      {{markdown-section content=comment.body}}
    {{/emoji-tag}}
  </div>
</div>