<header>
  <a href="https://github.com/emberjs/ember.js" target="_blank">
    {{fa-icon icon="github"}}
  </a>

  <a href="https://github.com/chancancode/ember-cli-github-issues" target="_blank" class="btn primary fork">
    {{fa-icon icon="code-fork"}} Fork Me on GitHub
  </a>
</header>

{{outlet}}